
.root{
  margin: 10px;
}
.label{
  display: inline-block;
  margin-right: 8px;
  width:70px;
  font-weight: bold;
  text-align: right;
}
.errMsg{
  color: red;
  margin-left: 78px;
  font-size: 14px;
  position: relative;
}
.errInput{
  border: 1px solid red;
}
