.root{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.2);
}
.body{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 300px;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  padding:20px 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  border-radius: 4px;
}
.ctipscontent{
  color: green;
}
